.header-container{
    .logo{
        margin: 2.5em auto;
    }
    .title{
        padding: 10px;
        color: $Gray;
        font-size: 2.5rem;
        font-weight: 300;
        .soon{
            font-weight: 600;
            color: $VeryDarkBlue;
            font-weight: 700;
        }
    }
    .paragraph {
        font-weight: 600;
    }
}